@import "./_responsive";
@import "./colors";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h1 {
    background-color: $cosmic;
    text-align: center;
    width: 33vw;
    font-size: 2vw;
    padding: 1.5vh 0;

    a {
      color: $caribbean_green_pearl;
      text-decoration: underline rgba($caribbean_green_pearl, 0);
      transition: text-decoration-color 300ms;

      &:focus, &:hover, &:active {
        text-decoration-color: rgba($caribbean_green_pearl, 1);
      }
    }
  }

  nav {
    width: 50vw;
    font-size: 1.2vw;
    padding: 0 10vw 0 8vw;
    text-align: end;

    ul {
      margin: auto;
      display: flex;
      justify-content: space-between;
    }

    a {
      text-decoration: underline rgba($mountain_meadow, 0);
      transition: text-decoration-color 300ms;

      &:focus, &:hover, &:active {
        text-decoration-color: rgba($mountain_meadow, 1);
      }

      &[aria-current="page"] {
        text-decoration: underline $mountain_meadow;
      }
    }
  }

  @include mobile {
    margin: 1vh 0;
    height: 18vh;
  
    h1 {
      width: 60vw;
      font-size: 6vw;
      padding: 5vh 0;
    }
  
    nav {
      width: 40vw;
      font-size: 4.7vw;
      padding: 0 7vw;

      ul {
        display: block;
      }
    }
  }

  @include mobile-landscape {
    margin: 5vh 0;

    h1 {
      width: 50vw;
      font-size: 5vw;
      padding: 5vh 0;
    }

    nav {
      font-size: 3vw; 
    }
  }

  @include tablet {
    margin: 1vh 0;
    height: 10vh;
    overflow: auto;
  
    h1 {
      width: 45vw;
      font-size: 3vw;
      padding: 5vh 0;
    }
  
    nav {
      width: 50vw;
      font-size: 2vw;
      padding: 0 6vw 0 1vw;
    }
  }
}